{% comment %}

	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Banner

	Description:

		Generates a slideshow banner.

	Example:

		---
		my_slides_array:
		- image: /images/slide01.jpg
			title: Magna tempus. Sed feugiat.
			url: "#"
		- image: /images/slide02.jpg
			title: Aliquam veroeros nullam.
			url: "#"
		---

		{% include components/banner.html slides=site.bannerslides %}

{% endcomment %}

<!-- Banner -->
<section id="banner" class="slider banner-narrow" ><h1>{{ include.customtag }}</h1>
                    {% if page.image  %}
			<article>
				<img src="{{ site.baseurl }}{{ page.image }}" alt="{{ page.imagealt }}" />
				<div class="inner">
                                    <h2><a href="{{ slide.url }}">{{ page.title }}</a></h2>
                                   <p>{{ page.subtitle | remove: "<p>" | remove: "</p>" }}</p>
                                </div>
			</article>
                {% endif %}  
	</section>

