{% comment %}

	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Navtiles

	Description:

{% endcomment %}

<!-- Features -->
{% if include.title %}
 <h2 class="group-title">{{include.title}}</h2>
 {% endif %}
{% if include.navtiles_paragraph %}
<!--<div class="post">-->
 <!--<div class="content no-head">{{include.navtiles_paragraph | markdownify}}</div>-->
 <p>{{include.navtiles_paragraph | markdownify}}</p>
<!--</div>-->
 {% endif %}
<div class="posts">

{% for navtile in site.navtiles %}
{% for testtag in navtile.customtags %}
    {% if testtag == include.customtag %}
        <section class="post {{include.customcss}}">
            <h3>{{ navtile.title }}</h3>
                <span class="image"><img src="{{ site.baseurl }}{{ navtile.image }}?nf_resize=fit&w=551" alt="" /></span>
                <div class="content no-head">
                        <p>{{ navtile.content | remove: "<p>" | remove: "</p>" }}</p>
                        {% if navtile.href %}
                                <ul class="actions">
                                        <li><a href="{{ navtile.href }}" class="button">Read more ...</a></li>
                                </ul>
                        {% endif %}
                </div>
        </section>
     {% endif %}    
{% endfor %}
{% endfor %}
</div>