{% comment %}

	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Site footer

	Description:

		Contact info, form, and footer.

	Example:

		{% include layout/footer.html %}

{% endcomment %}

<!-- Contact -->
 	
<section id="contact-trigger" class="wrapper no-bottom-pad ">
    <div class="inner ">
                  	
      <h2>Please get in Touch</h2>
      <blockquote class="emph"> If something is troubling you, now is probably the best time to get in touch &amp; explore if Acupuncture can help so please get in touch with me, there is no obligation or cost.
                    <br/> If you just want advice, that is absolutely fine and we can spend as much time as you need discussing your situation.
                    </blockquote>
       <button class="contact-trigger large icon fa-caret-down" id="contact-trigger-button"><span class="hide-xs">Click to </span>View Contact Details</button>
   
    </div>
</section>
    
 
    
<!--<section id="contact" class="wrapper split">-->
<section  class="wrapper content-pad split no-top">
		<div class="inner" id="contact">
            <section>
                 
              
				<ul class="bulleted-icons">
                                        <li>
						<span class="icon-wrapper"><span class="icon fa-phone"></span></span>
						<h3>Phone</h3>
						<p><a href="tel:+44-02920-140-054">02920 140 054</a></p>
					</li>
                                        <li>
						<span class="icon-wrapper"><span class="icon fa-mobile-phone"></span></span>
						<h3>Mobile</h3>
						<p><a href="tel:+44-07968576233">07968 576233</a></p>
					</li>
					<li>
						<span class="icon-wrapper"><span class="icon fa-whatsapp"></span></span>
						<h3>Whats App</h3>
						<p><a href="https://wa.me/4407968576233">click to what's app me</a></p>
					</li>
					
					<li>
						<span class="icon-wrapper"><span class="icon fa-facebook"></span></span>
						<h3>Facebook Messenger</h3>
						<p><a href="http://m.me/">Click to Message me</a></p>
					</li>
                                        <li>
						<span class="icon-wrapper"><span class="icon fa-envelope"></span></span>
						<h3>Email</h3>
						<p><a href="mailto:paul@clearspringacupuncture.co.uk">paul@clearspringacupuncture.co.uk</a></p>
					</li>
					<li>
						<span class="icon-wrapper"><span class="icon fa-twitter"></span></span>
						<h3>Twitter</h3>
						<p><a href="https://www.twitter.com/csacupuncture">@csacupuncture</a></p>
					</li>
					<li>
						<span class="icon-wrapper"><span class="icon fa-facebook"></span></span>
						<h3>Facebook Page</h3>
						<p><a href="https://www.facebook.com/clearspringacupuncture">@clearspringacupuncture</a></p>
					</li>


				</ul>
			</section>
			<section>
			
                            {% include contact-form.html %}
                            
			</section>
		
		</div>
	</section>

<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<p class="copyright">&copy; {{ site.time | date: '%Y' }} Clear Spring Acupuncture. All rights reserved. .</p>
			<ul class="menu">
				<li><a href="/privacy-policy.html">Privacy<span> Policy</span></a></li>
			</ul>
		</div>
	</footer>