{% comment %}

	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license

	Name:

		Site header

	Description:

		Site header and navigation.
		Set "header_class" to "alt" in the page frontmatter
		to blend the header with the page.

	Example:

		{% include layout/header.html %}

{% endcomment %}

<!-- Header -->
	<header id="header" class="{{ include.class }}">

		<h1><a href="{{ site.baseurl }}/">
                         {% include components/logo-horizontal.html %}
		</a></h1>
		<nav id="nav">
			<ul>
                            <li><a href="{{ site.baseurl }}/" >Home</a>


                            </li>
                            <li>
                                    <a href="/therapies/"  class="submenu fa-angle-down">Therapies</a>
                                    <ul>
                                            <li><a href="/therapies/">Overview</a></li>
                                            <li><a href="/therapies/acupuncture.html">Acupuncture</a></li>
                                            <li><a href="/therapies/massage.html">Massage</a></li>
                                            <li><a href="/therapies/counselling.html">Counselling</a></li>
                                            <li><a href="/therapies/psychology.html">Psychology</a></li>
                                            <li><a href="/therapies/osteopathy.html">Osteopathy</a></li>
                                            <li><a href="/therapies/physiotherapy.html">Physiotherapy</a></li>
                                    </ul>
                            </li>
                            <li>
                                <a href="/room-rental-for-therapists/" class="submenu fa-angle-down">Room Rental for therapists</a>
                                    <ul>
                                         <li><a href="/room-rental-for-therapists/">Overview</a></li>
                                         <li><a href="/room-rental-for-therapists/a-clinic-that-values-you.html">A clinic that values you</a></li>
                                        <li><a href="/room-rental-for-therapists/flexible-affordable-room-rental.html">Flexible affordable Room Rental</a></li>
                                        <li><a href="/room-rental-for-therapists/how-to-get-free-room-rental.html">How to Get <b>Free Room Rental</b></a></li>
                                        <li><a href="/room-rental-for-therapists/testimonials.html">Testimonials</a></li>
                                        <li><a href="/room-rental-for-therapists/professional-standards.html">Professional Standards</a></li>
                                        <li><a href="/room-rental-for-therapists/insurance.html">Fully Insured</a></li>
                                        <li><a href="/room-rental-for-therapists/about-the-founders.html">About The Founders</a></li>
                                    </ul>
                            </li>
                             <li><a href="/about-the-clinic/" class="submenu  fa-angle-down">About The Clinic</a>
                                <ul>
                                    <li><a href="/about-the-clinic/" >Index</a>  </li>
                                    <li><a href="/about-the-clinic/therapists-at-their-best.html" >Therapists at their best</a></li>
                                    <li><a href="/about-the-clinic/where-we-are.html" >Where we are</a></li>
                                    <li><a href="/about-the-clinic/professional-standards.html">Professional Standards</a></li>
                                    <li><a href="/about-the-clinic/insurance.html">Fully Insured</a></li>
                                </ul>
                            </li>

                             <li><a href="/what-we-treat/" class="submenu  fa-angle-down">What We Treat</a>
                                <ul>
                                    <li><a href="/what-we-treat/" >Overview</a>  </li>
                                    <li><a href="/what-we-treat/physical-health.html" >Physical Health</a></li>
                                    <li><a href="/what-we-treat/emotional-wellbeing.html" >Emotional Wellbeing</a>  </li>
                                    <li><a href="/what-we-treat/what-we-treat/fertility.html" >Fertility</a>  </li>
                                    <li><a href="/what-we-treat/wellness-later-life/" class="strong">Wellness In Later life</a></li>
                                    <li><a href="/what-we-treat/physical-health.html"  class="strong">Pain Conditions</a></li>
                                </ul>
                            </li>

                     {*        <li><a href="/workplace-services/" class="submenu  fa-angle-down">Workplace Services</a>
                                <ul>
                                    <li><a href="/workplace-services/" >Overview</a></li>
                                    <li><a href="/workplace-services/services-for-you.html" >Services-for-you</a>  </li>
                                    <li><a href="/workplace-services/our-clients.html" >Our Clients</a>  </li>
                                </ul>
                            </li>*}
                            <li><a href="#contact-trigger" class="contact-trigger">Contact</a></li>
			</ul>
		</nav>
	</header>